
#mobile-menu {
	display: none;
	background: #DE4343;
	height: 45px;
	position: relative;
	overflow: hidden;
	zoom: 1;
}

#mobile-menu__popup-button {
	display: inline-block;
	border-right: 1px solid #C21D1D;
}

#mobile-menu__popup-button a {
	color: #fff;
    font-size: 33px;
    text-decoration: none;
    outline: none;
    padding: 4px 15px;
}

#mobile_popup__open {
	display: block;
}

#mobile_popup__close {
	display: none;
}

#mobile-menu__popup-menu {
	display: none;
	background: #DE4343;
    width: 100%;
	position: absolute;
    left: 0;
    top: 45px;
    z-index: 999;
    border-top: 1px solid #c21d1d;
}

#mobile-menu__popup-menu a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 14px 23px;
	border-bottom: 1px solid #cc2727;
}

#mobile-header-phones {
    position: absolute;
    right: 20px;
    top: 13px;
}

#mobile-header-phones a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.sidebar-menu_popup {
	display: none;
	border-right: 1px solid #b83131;
}

.sidebar-menu_popup a {
	display: inline-block;
	color: #fff;
    font-size: 33px;
    text-decoration: none;
    outline: none;
    padding: 4px 15px;
}


/* Adaptive CSS */

@media (max-width: 1030px) {
	#body {
	    padding: 0;
	}
}

@media (max-width: 987px) {
	#header, #main-wrapper, #main-inner, #franch-banner, #footer {
		width: 100%;
	}

	#main-carrousel img {
		width: 100%;
		height: auto;
	}

	#main-menu {
	    width: 100%;
	    -moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-o-border-radius: 0;
		-ms-border-radius: 0;
		-icab-border-radius: 0;
		border-radius: 0;
	}

	#main-inner {
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-o-border-radius: 0;
		-ms-border-radius: 0;
		-icab-border-radius: 0;
		border-radius: 0;
	}

	#main-content {
		border-left: 0;
		border-right: 0;
	}

	.frontpage .beautiful-buttons-v2 a {
		width: 33%;
	}
}

@media (max-width: 970px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 38px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: 17px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 30px;
	}
}

@media (max-width: 940px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 28px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: 7px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 30px;
	}

	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		right: 40px;
	}
}

@media (max-width: 900px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 18px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -3px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 30px;
	}
}

@media (max-width: 875px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 18px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -10px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 20px;
	}
}

@media (max-width: 850px) {
	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title {
		right: 30px;
	}

	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title {
		right: 15px;
	}

	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		right: 30px;
	}
}

@media (max-width: 830px) {
	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title {
		right: 20px;
	}

	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title {
		right: 10px;
	}

	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		right: 20px;
	}
}

@media (max-width: 820px) {
	#header-inner {
	    padding: 12px 26px;
	}

	#logo img {
	    width: 190px;
	}

	#header-phones {
		font-size: 20px;
	}

	#main-menu .left_side td a {
		font-size: 15px;
		padding: 14px 10px 13px;
	}

	#main-menu .right_side #search-loupe {
		height: 45px !important;
		background-position: 0 10px !important;
	}

	#main-carrousel, .slidesjs-previous, .slidesjs-next {
		height: 303px !important;
	}

	#main-inner {
		box-shadow: 0 0 8px -1px #c2c2c2;
	}

	#inner-content, #front-inner-content {
		padding: 19px 31px 30px;
	}

	#inner-content {
		margin: 0;
	}

	#sidebar-menu > ul > li > a {
		font-size: 16px;
	}

	#sidebar {
		display: none;
		position: absolute;
		z-index: 50;
		box-shadow: 3px 3px 4px #ccc;
	}

	#sidebar-menu_popup-open {
		display: block;
	}
}

@media (max-width: 800px) {
	#main-carrousel, .slidesjs-previous, .slidesjs-next {
		height: 296px !important;
	}

	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 21px;
		top: 1px;
		width: 90px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -4px;
		top: 6px;
		width: 110px;	
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 21px;
		top: 16px;
		width: 80px;	
	}
}

@media (max-width: 780px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 16px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -14px;	
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 11px;	
	}
}

@media (max-width: 768px) {
	#main-carrousel, .slidesjs-previous, .slidesjs-next {
		height: 284px !important;
	}
}

@media (max-width: 750px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 16px;
	    top: 9px;
	    width: 80px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -14px;
		top: 13px;
		width: 100px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 13px;
		top: 16px;
		width: 80px;
	}
}

@media (max-width: 720px) {
	#action-page__image img,
	.actions-list__image img {
		width: 100% !important;
		height: auto !important;
		box-sizing: border-box;
	}

	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 12px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -18px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 8px;
	}

	.field-name-body img {
		width: 100% !important;
		height: auto !important;
		box-sizing: border-box;
	}
}

@media (max-width: 700px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 6px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -25px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 4px;
	}
}

@media (max-width: 680px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: -3px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -31px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: -6px;
	}

	.frontpage .beautiful-buttons-v2 .beautiful-title {
		font-size: 17px;
	}
}

@media (max-width: 650px) {
	#main-carrousel, .slidesjs-previous, .slidesjs-next {
		height: 240px !important;
	}

	#main-news__items .beautiful-block_news-item {
		width: auto;
		float: none;
	}

	#main-news {
		border-bottom: 1px solid #ffc200;
	    margin-bottom: 20px;
	    padding-bottom: 27px;
	}

	.article-previews_big_item_1, .article-previews_big_item_2 {
		display: block;
		overflow: hidden;
		zoom: 1;
		width: auto;
	}

	.frontpage .beautiful-buttons-v2 .button1 img {
		top: 6px;
		left: 11px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		top: 11px;
		left: -25px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		top: 21px;
		left: 9px;
	}

	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title {
		right: -4px;
	}

	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title {
		right: -9px;
	}

	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		right: -10px;
	}
}

@media (max-width: 640px) {
	.media_embed, .media_embed iframe {
		width: 100% !important;
		height: auto !important;
	}
}

@media (max-width: 620px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 11px;
	    top: 13px;
	    width: 71px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -25px;
	    top: 17px;
	    width: 90px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		top: 19px;
		left: 9px;
		width: 73px;
	}
}

@media (max-width: 600px) {
	.frontpage .beautiful-buttons-v2 a {
		width: 32.90%;
	}

	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 6px;
	    top: 13px;
	    width: 71px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -27px;
	    top: 17px;
	    width: 90px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		top: 20px;
		left: 5px;
		width: 72px;
	}
}

@media screen and (max-width: 580px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 8px;
		top: 18px;
		width: 63px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -23px;
		top: 22px;
		width: 79px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 6px;
	    top: 24px;
	    width: 69px;
	}
}

@media screen and (max-width: 560px) {
	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title {
		right: -13px;
	}

	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title {
	    right: -17px;
	}

	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
	    right: -20px;
	}
}

@media screen and (max-width: 540px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 5px;
		top: 18px;
		width: 63px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -26px;
		top: 22px;
		width: 79px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: 1px;
	    top: 24px;
	    width: 69px;
	}
}

@media screen and (max-width: 530px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: 0px;
		top: 18px;
		width: 63px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -28px;
		top: 22px;
		width: 79px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: -5px;
	    top: 24px;
	    width: 69px;
	}
}

@media screen and (max-width: 520px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: -5px;
		top: 18px;
		width: 63px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -34px;
		top: 22px;
		width: 79px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: -4px;
	    top: 30px;
	    width: 89px;
	}
}

@media screen and (max-width: 520px) {
	.frontpage .beautiful-buttons-v2 .button1 img {
		left: -8px;
		top: 18px;
		width: 63px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		left: -38px;
		top: 22px;
		width: 79px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		left: -9px;
	    top: 24px;
	    width: 64px;
	}
}

@media screen and (max-width: 500px) {
	#header-inner {
		padding: 12px 16px;
	}

	#logo, #logo img {
	    width: 180px;
	}


	#logo {
		display: block;
		margin: 0 auto;
		float: none;
	}

	#main-menu {
		display: none;
	}

	#main-carrousel {
		height: 184px !important;
	}

	#main-inner {
		border-top: 1px solid #EDEAEA;
	}

	.slidesjs-navigation {
		display: none;
	}

	#mobile-menu {
		display: block;
		box-shadow: 0 0 10px 1px #aeaaaa;
	}

	#header-phones {
		/* 
		font-size: 18px;
		top: -2px;
		*/
		display: none;
	}

	#inner-content, #front-inner-content {
		padding: 19px 25px 30px;
		font-size: 16px;
		line-height: 22px;
	}

	.breadcrumb .last {
		display: none;
	}

	#offices-list .offices-item .left, #current-office .offices-item .left {
		margin: 0;
	}

	#sh_button {
		display: none;
	}

	#offices-list .offices-item .right, .offices-item .pop-up-image {
		display: none;
	}

	#rate-gold_filter {
		border: 0 !important;
	}

	#rate-gold_result {
		float: none;
		display: block;
		clear: both;
		padding: 0 25px;
	}

	#rate-gold_result img {
		display: none;
	}

	.form-item input.form-text, .form-item textarea {
		box-sizing: border-box !important;
		width: 100% !important;
		display: block !important;
	}

	#offices-list .offices-item .offices-content,
	#current-office .offices-item .offices-content,
	#main-news .beautiful-block_news-title a,
	#news-body {
		font-size: 16px !important;
		line-height: 22px !important;
		color: #333 !important;
	}

	.beautiful-block_news-date {
		font-size: 14px;
	}
	
	.frontpage .beautiful-buttons-v2 a {
		width: auto;
		float: none;
	}

	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title {
		padding: 0 10px 0 140px;
		width: auto;
		right: auto;
	}

	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title {
		padding: 0 10px 0 140px;
		width: auto;
		right: auto;
	}

	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		padding: 0 10px 0 140px;
		width: auto;
		right: auto;
	}

	.frontpage .beautiful-buttons-v2 .button1 img {
		width: 85px;
		top: 3px;
		left: 31px;
	}

	.frontpage .beautiful-buttons-v2 .button2 img {
		width: 107px;
		top: 7px;
		left: 9px;
	}

	.frontpage .beautiful-buttons-v2 .button3 img {
		width: 87px;
		top: 13px;
		left: 35px;
	}

	.frontpage .beautiful-buttons-v2 .beautiful-title {
		font-size: 19px;
	}

	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title,
	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title,
	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		top: 44px;
	}
}

@media (max-width: 470px) {
	#franch-banner a {
		font-size: 24px;
		padding: 21px 15px;
	}

	.adv-button__title {
		color: #515151;
		font-size: 19px;
		vertical-align: middle;
	}
}

@media (max-width: 435px) {
	#franch-banner a {
		font-size: 22px;
		padding: 23px 15px;
	}
}

@media (max-width: 400px) {
	#franch-banner a {
		font-size: 20px;
		padding: 24px 15px;
	}
}

@media (max-width: 375px) {
	#franch-banner a {
		font-size: 18px;
		padding: 26px 15px;
	}
}

@media (max-width: 360px) {
	#main-carrousel, .slidesjs-previous, .slidesjs-next {
		height: 133px !important;
	}

	.frontpage .beautiful-buttons-v2 .button1 .beautiful-title,
	.frontpage .beautiful-buttons-v2 .button2 .beautiful-title,
	.frontpage .beautiful-buttons-v2 .button3 .beautiful-title {
		top: 30px;
	}
}

@media (max-width: 330px) {
	#franch-banner a {
		font-size: 16px;
		padding: 27px 15px;
	}
}

@media (max-width: 320px) {
	#main-carrousel {
		height: 118px !important;
	}

	.article-previews_description {
		display: none;
	}
}

@media (min-width: 100px) and (max-width: 500px) {
	#offices-cities td.col-2 {
		padding-left: 40px;
	}
}

